.navbar{
    background-color:  rgb(4, 1, 23);
    padding: 1rem 1rem;
}

/* 10% margin both sides */
.nav-responsive {
  width: 80%;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-evenly;
  color: #adb5bd;
  transition: all 0.25s ease;
  position: relative;
}
.nav-pills .nav-link {
  background-color: transparent !important;
  color: rgba(218, 234, 254, 0.716);   /* or your preferred color */
  transition: all 0.25s ease;
  position: relative;
}

/* .nav-responsive .nav-link:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.12);
  transform: translateY(-2px);
} */

.theme-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
}

.theme-btn:hover {
  background-color: rgba(255, 255, 255, 0.15);
}


/* Mobile layout */
@media (max-width: 576px) {
  .nav-responsive .nav-item {
    width: 50%;     /* 2 items per row */
  }

  .nav-responsive .nav-link {
    width: 100%;
    margin-bottom: 8px;
  }
}
